
<html >
    <head>
    </head>
    <body>
        
      <h1>Manage Follow Requests</h1>

      <table>
        <th>Follower</th>
        <th></th>
        <th></th>

        {% for line in pending %}
          <tr>
            <td>{{pending.username_follower}}</td>
            <td><a href=""><button type="button" class="btn btn-primary">Accept</button></a></td>
            <td><a href=""><button type="button" class="btn btn-primary">Reject</button></a></td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>
      <a href="/home">Home</a>
    </body>
    </html>