
<html >
    <head>
    </head>
    <body>
        
      <h1>Manage Follow Requests</h1>

      <table>
          <th>Follower</th>
          <th>Accept</th>
          <th>Reject</th>

      {% for line in pending %}
        <tr>
          <td>{{pending.username}}</td>
          <td><a href=""><button type="button" class="btn btn-primary"></button></a></td>
          <td><a href=""><button type="button" class="btn btn-primary"></button></a></td>
        </tr>
      {% endfor %}
      </table>
      <br>
      <br>
      <a href="/home">Home</a>
    </body>
    </html>